@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*, button {
  font-family: Inter;
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p {
  color: #353535;
}

/* UI components */
.Polaris-Button,
.Polaris-TextField {
  border-radius: 0.375rem!important;
}

.Polaris-HorizontalStack {
  --pc-horizontal-stack-block-align: center!important;
}

.Polaris-Select,
.Polaris-TextField,
.Polaris-Button {
  display: flex;
  height: 34px!important;
  align-items: center;
}

.Polaris-TopBar {
  background-color: #2A4365!important;
}

.Polaris-Frame__Content {
  background-color: #F7FAFC!important;
}

.Polaris-TopBar-Menu__Activator {
  background-color: #2D3748!important;
  padding: 0.125rem!important;
  border-radius: 0.5rem!important;
  margin-right: 23px!important;
}

.Polaris-TopBar-UserMenu__Details {
  padding: 0 0.5rem 0 .625rem!important;
  margin-right: 0!important;
}

.Polaris-TopBar-UserMenu__Details p {
  color: #e3e3e3;
  font-size: 0.75rem!important;
}

.Polaris-Avatar {
  border-radius: 0.375rem!important;
  width: 1.75rem!important;
}

.Polaris-Frame-Loading__Level {
  background-color: rgba(102, 153, 225, 1)!important;
}

/* Resource List */
.po_resource_empty_state .Polaris-Box {
  padding-bottom: 0px!important;
}

/* Scrollable */
.Polaris-FormLayout__Item > .Polaris-Scrollable {
  margin-top: 0.5rem!important;
}

/* Card */
.Polaris-LegacyCard {
  box-shadow: rgba(0, 27, 71, 0.08) 0px 3px 7px!important;
}

.Polaris-LegacyCard.Polaris-LegacyCard--subdued {
  background-color: #F7FAFC
}

.Polaris-Collapsible > .Polaris-LegacyCard__Section:first-child {
  border-top: 0.0625rem solid #E2E8F0;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

.Polaris-LegacyCard__Section + .Polaris-LegacyCard__Section {
  border-color: #E2E8F0!important;
}

/* Alert Banner */
.Polaris-Banner.Polaris-Banner--statusCritical.Polaris-Banner--withinPage {
  margin-bottom: 1rem!important;
}

/* Selected Items Banner */
.po_banner_with_image > .Polaris-Banner.Polaris-Banner--statusInfo,
.po_banner_without_image > .Polaris-Banner.Polaris-Banner--statusInfo,
.Polaris-Scrollable > .Polaris-Banner.Polaris-Banner--statusInfo {
  background-color: #EDF2F7!important;
  border: none!important;
}

.po_banner_with_image > .Polaris-Banner.Polaris-Banner--statusInfo,
.po_banner_without_image > .Polaris-Banner.Polaris-Banner--statusInfo {
  margin-top: 0.5rem!important;
}

.Polaris-Scrollable > .po_banner_with_image > .Polaris-Banner.Polaris-Banner--statusInfo:first-child,
.Polaris-Scrollable > .po_banner_without_image > .Polaris-Banner.Polaris-Banner--statusInfo:first-child {
  margin-top: 0px!important;
}

.Polaris-Banner .Polaris-Icon.Polaris-Icon--colorHighlight.Polaris-Icon--applyColor {
  display: none!important;
}

.po_banner_with_image .Polaris-Banner--withinContentContainer {
  padding: 5px!important;
}

.po_banner_without_image .Polaris-Banner--withinContentContainer {
  padding: 10px!important;
}

.po_banner_without_image .Polaris-Button {
  top: -5px;
}

/* Selected Item Tags */
.chakra-button + .Polaris-HorizontalStack {
  margin-top: 0.5rem!important;
}

/* Navigation */
.Polaris-Navigation {
  background-color: white!important;
  border-right-color: #E2E8F0!important;
}

.Polaris-Navigation__ItemWrapper {
  padding: 0 0.75rem!important;
} 

.Polaris-Navigation__Text {
  font-size: 14px!important;
  margin-left: 5px;
}

.Polaris-Navigation__Icon {
  margin-left: 5px;
}

.Polaris-Navigation__Icon .Polaris-Icon {
  display: flex!important;
  align-items: center;
}

.Polaris-Navigation__Icon svg {
  fill: #4A5568!important;
}

.Polaris-Navigation__Item {
  border-radius: 0.5rem!important;
  padding: 0.5rem!important;
  color: #4A5568!important;
}

.Polaris-Navigation__Item svg {
  font-size: 18px!important;
  width: 1em!important;
  height: 1em!important;
}

.Polaris-Navigation__Item:is(:hover, :focus-visible) {
  background: #EDF2F7!important;
}

.Polaris-Navigation__Item.Polaris-Navigation__Item--selected {
  color: #2B6CB0!important;
  background-color: #EBF8FF!important;
}

.Polaris-Navigation__Item.Polaris-Navigation__Item--selected .Polaris-Navigation__Icon svg {
  fill: #2B6CB0!important;
}

.Polaris-Navigation__Item.Polaris-Navigation__Item--selected::before {
  content: none;
}

.Polaris-Navigation__ListItem:not(:first-child) .Polaris-Navigation__ItemInnerWrapper {
  border-top: none!important;
}

/* Option set list page */
h3.Polaris-Text--bodyMd {
  font-weight: 500!important;
  font-size: 14px!important;
}

h6.Polaris-Text--bodySm {
  font-size: 10px!important;
}

h6.Polaris-Text--bodyMd {
  font-size: 13px!important;
}

/* Common text */
.Polaris-Label__Text,
.Polaris-Choice__Label span,
p.Polaris-Text--subdued  {
  font-size: 0.8125rem!important;
  font-weight: 450!important;
}

.Polaris-Header-Title {
  font-size: 25px!important;
  font-weight: 500!important;
}

span.Polaris-Text--bodyMd {
  font-size: 0.8125rem!important;
  font-weight: 450!important;
}